/* You could change the font */
/*$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);*/

$btnPrimaryBackground: green;
$navbarBackgroundHighlight: white;


@import 'bootstrap';

body {
	padding-top: 60px;
}

@import 'bootstrap-responsive';



.footer {
	margin-top: 50px;
	color: $grayLight;
	a {
		color: $gray;
	}
}

/* Required for jQuery Masonry */

.box {
	margin: 5px;
	padding: 5px;
	font-size: 11px;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #444;
	width: 214px;
}

.box img {
	diplay: block;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.description {
	margin: 10px 0 5px;
}


 body {
        padding-top: 50px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }