/* You could change the font */ 
/*$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);*/

/* You could change the navbar color, look for code in customize */
$btnPrimaryBackground: green;
/* $navbarBackgroundHighlight: white;
$navbarBackground: white; */ 

@import 'bootstrap'; 

body {
	padding-top: 60px;
}

@import 'bootstrap-responsive'; 

/* You can take shadow away from nav-bar */
.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}

.footer {

	margin-top: 50px; 
	color: $grayLight; 
	a {
		color: $gray; 
	}
}
